.jumbotron {
  padding-top: 5rem;
  background-color: #338a94;
}
#experiences {
  background-color: #338a94;
}
#footer {
  background-color: #338a94;
  color: black;
}
section {
  padding-top: 5rem;
}
